@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
  font-family: "Comic Sans MS";
  margin: 0px;
  padding: 0px;


}
h1{

  text-align: center;
}

#buttons{
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 20px;
}
#container {
  /*z-index: -2;*/
  margin:auto;
  width: 500px;
  height: 320px;
  background-color: darkgreen;
  border:none;
  border-radius: 5px;
  border-color: black;
  padding: 10px;
  /*position: relative;*/

}
input{
  border-width: 4px;
  border-color: gold;
  padding: 3px;
  position: relative;
}

#animate {
  border:none;
  border-radius: 5px;
  z-index: -1;
  width: 500px;
  height: 130px;
  position: absolute;
  background-color: gold;
  /*padding-right: 1px;*/
}
label{
  color:gold;
  text-align:right;
  display:inline-block;
}
#myMsg{
  padding: 10px;
  color:white;
}
  img{
    z-index: -1;
  }
  footer{
    /*display: inline-block;*/

    /*background-color: lightpink;*/
    height: 40px;
    width: 700px;
    margin:auto;
    margin-top: 300px;
  }
  /*#footer div{
    background-color: grey;
  }*/
  #footerList li {

    font-size: 15px;
    text-align: center;
    /*display: inline-block;*/
     list-style-type: none;
    float: left;
    width: 100px;
    /*position: relative;*/

  }
