@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
    font-family: "Arial";
    margin: 0px;
    padding: 0px;
    /*background: black;*/
}

body{
  background: black;
}

h1 {
    color:white;
    opacity: .8;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.album {
    height: 250px;
    width: 250px;
    /*opacity: .2;*/
    transition: all .2s ease-in-out;
}

.card {
    height: 250px;
    width: 250px;
    float: left;
    margin: 4px;
    /*opacity: .2;*/
    /*transition: all .2s ease-in-out;*/
}

.album:hover {
    opacity: 1;
    transform: scale(1.1);
}

.test {
    display: none;
}

.back {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    background: linear-gradient(black, grey);
    color: white;
    opacity: .8;
    line-height: 35px;
    font-size: 20px;
    font-family: "Arial";
    font-weight: bold;
    text-align: center;
}

main {
    position: relative;
    margin: auto;
    background: black;
    width: 800px;
}

#gallery {
    padding-top: 30px;
}

footer {
    /*display: inline-block;*/
    /*background-color: lightpink;*/
    padding-top: 1000px;
    padding-bottom: 40px;
    padding-right: 30px;
    width: 700px;
    margin: auto;
    /*margin-top: 350px;*/
}

a {
    text-decoration: none;
}

#footerList li {
    font-size: 15px;
    text-align: center;
    /*display: inline-block;*/
    list-style-type: none;
    float: left;
    width: 100px;
    /*position: relative;*/
}
