
body {
    background-color: black;
}
div{
    width: 900px;
    height: 9000px;
    background-color: teal;
    margin: auto;
}
#title{
  text-align: center;
  font-size: 45px;
}


h2{
  text-align: center;
  font-size: 15px;
}
section{
  text-align: center;
  background-color: teal;
  font-size: 15px;
  font-weight: bold;
}

article{
  margin:auto;
  background-color: teal;
  width: 600px;
}

img{
  align-self: center;
}
