@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
  font-family: "Arial";
  margin: 0px;
  padding: 0px;


}
h1{

  text-align: center;
}
body{
  background-color: black;
}
#container{
  position: relative;
  margin: auto;
  background-color: white;
  height: 1674px;
  width: 980px;
}
/*img{
  position: absolute;
}*/
#timer1{
  position: absolute;;
  bottom:100px;
  left:247.5px;

}
#timer2{
  position: absolute;;
  top:100px;
  left:247.5px;
}
#pause{
  position: absolute;;
  top:590px;
  left:238px;
}
#play{
  position: absolute;;
  top:550px;
  left:50px;
}
#restart{
  position: absolute;;
  top:550px;
  right:50px;
}
  footer{
    /*display: inline-block;*/

    /*background-color: lightpink;*/
    height: 40px;
    width: 700px;
    margin:auto;
    margin-top: 300px;
  }
  /*#footer div{
    background-color: grey;
  }*/
  #footerList li {

    font-size: 15px;
    text-align: center;
    /*display: inline-block;*/
     list-style-type: none;
    float: left;
    width: 100px;
    /*position: relative;*/

  }
