@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
  font-family: "Comic Sans MS";
  margin: 0px;
  padding: 0px;

  background: grey;


}
body{
  margin: 0px;
  padding: 0px;
}
img{
  width:100%;
  /*z-index: -1;*/
  position: absolute;
}
#createProfile{
  display: none;
}
#home{
  display: none;
}
#getStarted{

  position: absolute;
  width:650px;
  height:150px;
  background: none;
  /*top:1020px;*/
  top:62%;
  left:20%

}
#addCountry{
  position: absolute;
  height: 130px;
  width: 130px;
  top:34.5%;
  left: 72%;
  background: none;
}
#addCountryHome{
  position: absolute;
  height: 130px;
  width: 130px;
  top:34.5%;
  left: 47%;
  background: white;
}
#allDone{
  position: absolute;
  bottom:3%;
  left: 10%;
  height: 160px;
  background: none;
  width: 800px;
}
#find{
  position: absolute;
  top:0%;
  left: 0%;
  height: 170px;
  background: none;
  width: 50%;
}
#chat{
  position: absolute;
  top:0%;
  right: 0%;
  height: 170px;
  background: none;
  width: 50%;
}
#filter{
  position: absolute;
  top:170px;
  width:100%;
  height:120px;
  background: none;
}
#done{
  position: absolute;
  top:70%;
  left:23%;
  width: 500px;
  height:120px;
  background: none;
}
#button{
  position: absolute;
  top:18%;
  left:8%;
  width: 120px;
  height:120px;
  background: none;
}
#button2{
  position: absolute;
  top:47.5%;
  left:8%;
  width: 120px;
  height:120px;
  background: none;
}
#john{
  position: absolute;
  top:289px;
  left:0%;
  width: 100%;
  height:480px;
  background: none;
}
#johnInfo{
  position: absolute;
  bottom:150px;
  left:0%;
  width: 100%;
  height:480px;
  background: none;
}
.back{
  position: absolute;
  top:0px;
  left:0px;
  width: 150px;
  height:150px;
  background: none;
}
a {
  font-size: 100px;
  font: arial;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  float: left;
  width: 100%;
}
#links{
  position: absolute;
  bottom: 0%;
  height: 0px;
  width: 100%;
  background: white;
  margin:auto;
}
